<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.mresti.xemio"
    >

  <uses-permission android:name="android.permission.INTERNET"/>

  <uses-sdk xmlns:tools="http://schemas.android.com/tools"
      tools:overrideLibrary="android.support.v14.preference"
      />

  <application
      android:allowBackup="true"
      android:fullBackupContent="true"
      android:icon="@drawable/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/Theme.Xemio"
      android:name="es.mresti.xemio.app.MyApplication"
      android:supportsRtl="true"
      >

    <activity
        android:name="es.mresti.xemio.app.view.activity.MainActivity"
        android:label="@string/app_name"
        android:theme="@style/Theme.Xemio.Init"
        >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name="es.mresti.xemio.app.view.activity.RegisterActivity"
        android:label="@string/app_name"
        android:theme="@style/Theme.Xemio.Init"
        >
    </activity>

    <activity
        android:name=".app.view.activity.LoginActivity"
        android:label="@string/app_name"
        android:theme="@style/Theme.Xemio.Init"
        >
    </activity>

    <activity
        android:name=".app.view.activity.LogupActivity"
        android:label="@string/app_name"
        android:theme="@style/Theme.Xemio.Init"
        >
    </activity>

    <activity
        android:name=".app.view.activity.ExtraActivity"
        android:label="@string/app_name"
        android:theme="@style/Theme.Xemio.Init"
        >
    </activity>

    <activity
        android:name="es.mresti.xemio.app.view.activity.ChemoActivity"
        android:label="@string/app_name"
        android:theme="@style/Theme.Xemio.Init"
        >
    </activity>

    <activity
        android:name="es.mresti.xemio.app.view.activity.DashboardActivity"
        android:label="@string/app_name"
        >
    </activity>

    <activity
        android:name="es.mresti.xemio.app.view.activity.InfoActivity"
        android:label="@string/toolbar_title_info"
        >
    </activity>

    <activity
        android:name=".app.view.activity.ListTreatmentActivity"
        android:label="@string/toolbar_title_treatment"
        >
    </activity>

    <activity
        android:name=".app.view.activity.DetailsTreatmentActivity"
        android:label="@string/toolbar_title_treatment_detail"
        >
    </activity>

    <activity
        android:name=".app.view.activity.ListEffectsActivity"
        android:label="@string/toolbar_title_effect"
        >
    </activity>

    <activity
        android:name=".app.view.activity.DetailsEffectActivity"
        android:label="@string/toolbar_title_effect_detail"
        >
    </activity>

    <activity
        android:name=".app.view.activity.NewIncidenceActivity"
        android:label="@string/toolbar_title_incidence"
        >
    </activity>

    <activity
        android:name=".app.view.activity.ListIncidencesActivity"
        android:label="@string/toolbar_title_history"
        >
    </activity>

    <activity
        android:name=".app.view.activity.DetailsIncidenceActivity"
        android:label="@string/toolbar_title_incidence_detail"
        >
    </activity>

    <activity
        android:name="es.mresti.xemio.app.view.activity.SettingsActivity"
        android:label="@string/toolbar_title_settings"
        >
    </activity>

  </application>

</manifest>
